@import 'reset';
@import 'atomaric';
@import 'typography';

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow: hidden;
}

a:not([class]) {
    color: white;
    text-decoration-skip-ink: auto;
}

input {
    width: 100%;
    display: block;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

::selection {
    background: transparent;
    color: rgba(black, 0.7);
    color: white;
}

.label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.append {
    font-size: 12px;
    margin-left: auto;
    opacity: 0.5;
    font-weight: bold;
    position: absolute;
    line-height: 1.1;
    top: 49%;
    right: $input-padding-x;
    transform: translateY(50%);
}

.input-row,
.buttons-row {
    display: flex;
    margin: $input-margin;
}

.input-row {
    flex-direction: column;
}

.buttons-row {
    align-items: center;
    margin-top: 12px;

    & > button,
    & > div {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}
