.default {
	cursor: default !important;
}

.pointer {
	cursor: pointer !important;
	pointer-events: all;
}

.pointerless {
	cursor: default !important;
	pointer-events: none !important;
}

.unselectable {
	@include unselectable;
}

.disabled {
	opacity: 0.5;
	@include unselectable;
}

.invisible {
	@include invisible;
}

.hidden {
	display: none;
}

.opacity {
	@include opacity('up');
}

.opacity-down {
	@include opacity('down');
}

.scrollable {
	@include scrollable;
}

.overflow {
	overflow: hidden;
}

.fill {
	width: 100%;
	height: 100%;
}
