.overflow {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
    pointer-events: all;
}

.pointerless {
    pointer-events: none !important;
}

.invisible {
    @include invisible;
}

.scrollable {
    @include scrollable;
}

.unselectable {
    @include unselectable;
}

.hover {
    .hover-target {
        opacity: 0;
        transition: opacity $tr;
    }

    &:hover {
        .hover-target {
            opacity: 1;
        }
    }
}

.hoverable {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity $tr;

    &:hover {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.5;
    @include unselectable;
}
