.overflow {
    overflow: hidden;
}

.fill {
    width: 100%;
    height: 100%;
}

.default {
    cursor: default !important;
}

.pointer {
    cursor: pointer !important;
    pointer-events: all;
}

.pointerless {
    cursor: default !important;
    pointer-events: none !important;
}

.invisible {
    @include invisible;
}

.scrollable {
    @include scrollable;
}

.unselectable {
    @include unselectable;
}

.hover-opacity-up {
    @include hover-opacity('up');
}

.hover-opacity-down {
    @include hover-opacity('down');
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.5;
    @include unselectable;
}
