{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2019,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "extends": [
        "airbnb-typescript",
        "airbnb/hooks",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended",
        "prettier",
        "prettier/react",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "plugins": ["react", "@typescript-eslint", "jest", "import"],
    "rules": {
        /* js */
        "eqeqeq": "warn",
        "no-unused-vars": "warn",
        "newline-before-return": "error",
        "no-useless-return": "error",
        "linebreak-style": "off",
        "no-param-reassign": "off",
        "jsx-a11y/media-has-caption": "off",
        "max-classes-per-file": ["error", 2],
        "no-return-assign": "off",
        "consistent-return": "off",
        "array-callback-return": "off",
        "no-underscore-dangle": "off",
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "import/prefer-default-export": "off",
        "import/order": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [".storybook/**", "**/*.story.tsx", "**/*.test.tsx"]
            }
        ],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "jsx-a11y/no-static-element-interactions": "off",
        "jsx-a11y/click-events-have-key-events": "off",

        /* react */
        "react/prop-types": "off",
        "react/no-set-state": "warn",
        "react/no-string-refs": "error",
        "react/prefer-es6-class": "warn",
        "react/prefer-stateless-function": "error",
        "react/require-render-return": "error",
        "react/self-closing-comp": "error",
        "react/sort-comp": "error",
        "react/sort-prop-types": "error",
        "react/require-extension": "off",
        "react/wrap-multilines": "off",

        /* jsx */
        "react/jsx-boolean-value": "error",
        "react/jsx-closing-bracket-location": "error",
        "react/jsx-equals-spacing": "error",
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-key": "error",
        "react/jsx-no-literals": "off",
        "react/jsx-no-target-blank": "error",
        "react/jsx-pascal-case": "error",
        "react/jsx-sort-props": "error",
        "react/jsx-tag-spacing": "error",
        "react/jsx-props-no-spreading": "off",

        /* typescript */
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-shadow": "off",
        "@typescript-eslint/ban-ts-comment": "warn"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
