.panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $call-panel-default-background;
    border-radius: $radius;
    position: relative;
}
