.container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: $editor-status-bar-padding;
    display: flex;
    align-items: center;
    justify-content: $editor-status-bar-justify;
    background: $editor-status-bar-background;
    z-index: 10;

    span {
        font-size: 12px;
        line-height: 1;
        margin-right: 15px;
        letter-spacing: 0.3px;
        opacity: $editor-status-bar-opacity;
        font-family: $sans-accent;
    }

    svg {
        cursor: pointer;
        margin-left: 4px;
        transition: $tr;

        &:not(:hover) {
            opacity: $editor-status-bar-opacity;
        }
    }
}
