.container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: $editor-status-bar-justify;
    // background: $editor-status-bar-background;
    padding: $editor-status-bar-padding;
    border-top: 1px solid transparent;

    span {
        font-size: 12px;
        line-height: 1;
        margin-right: 15px;
        letter-spacing: 0.3px;
        opacity: $editor-status-bar-opacity;
        font-family: $sans-accent;
    }

    .icon {
        margin-left: 4px;
        cursor: pointer;

        svg {
            transition: $tr;

            &:not(:hover) {
                opacity: $editor-status-bar-opacity;
            }
        }

        // chevron
        &:last-child {
            margin-left: auto;
        }
    }

    &.active {
        border-color: rgba(#aaa, 0.05);

        .icon:last-child svg {
            opacity: 1;
        }
    }
}
