.Compiler {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: $editor-status-bar-padding;
    font-size: $editor-compiler-fz;
    padding-top: 10px;
}

.Title {
    font-size: 1.3em;
}

.Content {
    width: 100%;

    .Result,
    .Error {
        width: 100%;
        margin: 10px 0;
        padding-right: 10%;
    }

    .Error {
        color: $text-grey;
        letter-spacing: 0.2px;
    }
}

.Footer {
    display: flex;
    margin-top: auto;
    align-items: center;
    width: 100%;
    padding-bottom: 2px;

    .Version {
        flex: 1;
        opacity: 0.7;
        font-size: 0.9em;
        letter-spacing: 0.3px;
        margin-bottom: -3px;
    }

    .FooterLeft {
        flex: 0 1 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .Run {
        cursor: pointer;
        font-size: 14px;
        transition: $tr;
        opacity: 0.7;

        &:hover:not(:active) {
            opacity: 1;
        }
    }

    button {
        margin-right: -14px;

        &:not(:hover) {
            color: white;
            background: transparent;
        }
    }

    .Loader {
        line-height: 0;

        svg {
            opacity: 0.8;
            margin-right: 15px;
        }
    }
}
