.block {
    border-radius: $radius;
    transition: $tr;

    &:hover {
        box-shadow: $shadow;
    }

    &.styled {
        width: $block-width;
        font-size: $block-fz;
        font-family: $block-ff;
        line-height: 1.4;
    }

    &.square {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: $block-width / 2;
        height: $block-width / 2;
    }

    &.outline {
        border: 1px solid;
        &:not(:hover) {
            background: transparent;
        }
        &:hover {
            border-color: transparent;
        }
    }

    &.stretch {
        width: 100%;
    }

    // size
    &.small {
        padding: 10px;
    }
    &.medium {
        padding: 20px;
    }
    &.large {
        padding: 30px;
        width: $block-width * 1.5;
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        .header {
            margin-bottom: 17px;
        }
        .footer {
            margin-top: auto;
            span {
                font-size: 1.2em;
            }
        }
    }

    // background
    &.light {
        background: white;
        color: $black;
        &:hover {
            box-shadow: $shadow-light;
        }
        a {
            color: $black;
        }
    }
    &.dark {
        background: darken($black, 5%);
    }
    &.primary {
        background: $block-primary;
    }
    &.success {
        background: $success;
    }
}

.footer {
    display: flex;
    justify-content: space-between;

    span,
    small {
        margin-top: 16px;
    }
}

.header {
    margin-bottom: 12px;
    align-items: center;
    display: flex;
    button {
        margin-left: auto;
    }
}
