.container {
	display: flex;
	width: 100%;
	position: relative;

	.inner {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.header {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 1.25rem 0.75rem 1.1rem;
		font-size: 0.8rem;
		font-family: $sans-accent;
		background: rgba(white, 0.03);
		border-radius: $editor-radius;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		z-index: 1;
		line-height: 0;
	}

	.editor {
		textarea + div {
			padding: 3rem 0.5rem 1.25rem;
		}
	}

	&.light {
		.header {
			background: rgba(black, 0.04);
			font-weight: 500;
		}
	}
}
