.panel {
    display: flex;
    background: $call-panel-default-background;
    border-radius: $radius;
    position: relative;
    height: 100%;
    padding: $call-panel-padding;

    &.list {
        flex-direction: column;
        align-items: center;
    }

    &.grid {
        align-items: flex-start;
        > div {
            flex: 1;
        }
    }
}
