/* font */
$sans-serif: 'Lato', sans-serif; // accent font-family
$sans-accent: 'Fira Code'; // 'Lato',
$font-size: 14px;

/* colors */

$black: #202020;
$black-lighten: lighten($black, 5%);
$black-darken: darken($black, 4%);
$light: #f6f6f6;

$yellow: #ffeb3b;
$orange: #ff4d2c;
$red: #f83429;
$violet: #ae81ff;
$blue: #4971ff;
$green: #00e676;
$grey: #ebebeb;

$primary: $blue;
$secondary: $yellow;
$success: $green;

$text: white;
$text-grey: lighten($black, 20%);

/* container */
$padding-x: 15px;
$padding-y: 9px;
$padding: $padding-y $padding-x;
$padding-l: 20px;
$radius: 5px;
$shadow: 0 3px 10px -3px rgba(black, 0.7);
$shadow-light: 0 3px 8px 0px rgba(white, 0.3);
$shadow-1: 0 3px 10px -3px rgba(black, 0.4);
$shadow-2: 0 3px 8px -3px rgba(black, 0.3);
$border: 2px solid rgba(white, 0.02);
$border-dark: 1px solid $grey;

/* easing */
$ease-1: ease-out;
$ease-2: cubic-bezier(0.22, 1, 0.36, 1); // nice
$ease-3: cubic-bezier(0.22, 0.61, 0.36, 1);
$tr: 0.22s $ease-1;

/* $block */
$block-fz: 0.9em;
$block-ff: $sans-serif;

/* button */
$button-primary-background: $primary;
$button-secondary-background: $secondary;
$button-font-family: $sans-serif;
$button-radius: 3rem;

/* input, select */
$input-tr: $tr;
$input-fz: 0.825rem;
$input-margin: 0.5em 0;
$input-border: none;
$input-radius: 3px;
$input-background: $grey;
$input-color: $black;
$input-padding: $padding;
$input-weight: 500;
$input-hover-background: darken($input-background, 5%);

/* range */
$range-color: $black;

/* backdrop */
$backdrop-background: rgba(black, 0.4);

/* dialog */
$dialog-width: 375px;
$dialog-padding: 20px;
$dialog-radius: 4px;
$dialog-background: white;
$dialog-shadow: 1px 6px 6px 3px rgba($black, 0.1);

/* drawer */
$drawer-width: 500px;
$drawer-radius: 4px 0 0 4px;
$drawer-padding: 25px;
$drawer-background: white;
$drawer-color: inherit;
$drawer-title-ff: $sans-accent;

/* sidebar */
$sidebar-width: 55px;
$sidebar-logo-size: 20px;
$sidebar-icon-size: 27px;
$sidebar-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
$sidebar-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.3);

/* FEATURES */
$small-footer-padding-x: 12px;

/* editor */
$editor-default-background: lighten($black, 1%);
$editor-bar-background: rgba($black, 0.3);
$editor-status-bar-ff: $sans-serif;
$editor-status-bar-justify: flex-start;
$editor-status-bar-opacity: 0.5;
$editor-status-bar-padding: 10px $small-footer-padding-x;
$editor-console-padding: 4px $small-footer-padding-x;
$editor-console-fz: 0.75em;

/* conference */
$call-panel-default-background: $black;
$call-panel-width: 430px;
$call-video-height: 200px;
$call-panel-padding: 0 0 12px 25px;
$call-panel-footer-padding: 5px $small-footer-padding-x;
$call-panel-gap: 0;
$call-panel-transition: 0.4s width;
