.container {
    position: relative;
    margin: $input-margin;
    width: 100%;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    input {
        @include input;

        &[type='number']::-webkit-outer-spin-button,
        &[type='number']::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &.dark {
        input {
            @include dark;
        }
    }
}
