.text {
    &-justify {
        text-align: justify !important;
    }

    &-left {
        text-align: left !important;
    }

    &-right {
        text-align: right !important;
    }

    &-center {
        text-align: center !important;
    }

    &-truncate {
        @include text-truncate;
    }

    &-bold {
        font-weight: bold;
    }

    &-grey {
        color: $text-grey;
    }
}
