.wrapper {
    @include center;
}

.dialog {
    display: flex;
    flex-direction: column;
    padding: $dialog-padding;
    border-radius: $dialog-radius;
    background: $dialog-background;
    box-shadow: $dialog-shadow;

    &.dark {
        color: white;
        background: $black-darken;
        border: $border;

        svg {
            color: white;
        }
    }

    &.small {
        width: $dialog-width / 1.2;

        .title {
            font-size: 1rem;
        }
    }

    &.normal {
        width: $dialog-width;
        padding: $dialog-padding;

        .title {
            font-size: 1.1rem;
        }
    }

    &.large {
        padding: $dialog-padding * 1.2;
        width: $dialog-width * 1.2;

        .title {
            font-size: 19px;
        }
    }

    &.fullscreen {
        width: 75vw;
        padding: $dialog-padding * 1.6;

        .header {
            padding-bottom: 30px;
        }
        .title {
            font-size: 1.3rem;
        }
    }

    &.centered {
        .header {
            text-align: center;
            justify-content: center;
        }

        .content {
            text-align: center;
        }
    }
}

.title {
    margin-top: -3px;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    position: relative;
}

.close {
    background: none;
    position: absolute;
    padding: 10px;
    margin-right: -10px;
    right: 0;
    top: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
