$pd: $padding * 2;
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $pd;

    &.wide {
        padding: $padding;
    }

    h1 {
        width: 100%;
        padding-bottom: 0.8em;
        text-transform: uppercase;
    }
}
