.colors {
    .color {
        cursor: pointer;

        &:hover:not(.active) {
            transform: scale(1.1);
        }

        & + .color {
            margin-left: 10px;
        }
    }
}

.color {
    position: relative;
    display: inline-block;
    border: $border;
    border-radius: 50%;
    transition: transform $tr;

    &.small {
        width: 8px;
        height: 8px;
    }
    &.medium {
        width: 10px;
        height: 10px;
    }
    &.large {
        width: 20px;
        height: 20px;
    }

    &.active {
        border: 2px solid rgba(white, 0.8);
    }
}
