.panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $call-panel-default-background;
    border-radius: $radius;
    position: relative;

    width: 0;
    transition: $call-panel-transition;

    > * {
        opacity: 0;
        transition: $tr;
    }

    &.visible {
        width: $call-panel-width;
        padding: $call-panel-padding;
        margin-left: $call-panel-gap;

        > * {
            opacity: 1;
        }
    }
}
