.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.3px;
    border-radius: $button-radius;
    font-family: $button-font-family;
    transition: box-shadow $tr;

    // state ------------------------------------------------------------
    &.loading {
        @include unselectable;
    }

    &:disabled {
        @include disabled;
    }

    // hover ------------------------------------------------------------
    &.medium,
    &.large,
    &.rounded {
        transition: transform 0.35s ease;
        backface-visibility: hidden;
    }

    &.large {
        &:hover:not(:active) {
            transform: scale(1.02);
        }
    }
    &.rounded,
    &.medium {
        &:hover:not(:active) {
            transform: scale(1.055);
        }
    }

    &.rounded {
        &.outline {
            border: 2px solid transparent;
            transition: border $tr;
            &:hover:not(:active) {
                border: 2px solid;
                transform: none !important;
            }
        }
    }

    &.hover {
        transition: $tr;

        &:not(:hover) {
            background-color: transparent;
        }
    }

    &.shadow-light {
        &:hover:not(:active) {
            box-shadow: $shadow-light;
        }
    }
    &.shadow-dark {
        &:hover:not(:active) {
            box-shadow: $shadow-2;
        }
    }

    // color, hover -----------------------------------------------------
    &.white {
        color: white;
    }
    &.black {
        color: $black;
    }

    // background -------------------------------------------------------
    &.primary {
        color: $black;
        background-color: $button-primary-background;
    }
    &.secondary {
        background-color: $button-secondary-background;
    }
    &.success {
        background-color: $success;
    }
    &.light {
        background-color: $light !important;
        color: $black;
        &.hover:hover {
            background-color: $button-secondary-background !important;
            color: white;
        }
    }
    &.primary,
    &.success {
        &.hover:not(:hover) {
            background-color: $button-secondary-background !important;
        }
    }

    // size -------------------------------------------------------------
    &.small {
        font-size: 0.8rem;
        letter-spacing: 0.1px;
        height: 1.9rem;
        padding: 0 20px 0.5px;
        font-weight: 600;

        &.rounded {
            width: 30px;
            height: 30px;
            padding: 0;
        }

        svg {
            max-width: 1rem;
            max-height: 1rem;
        }
    }
    &.medium {
        font-size: 0.9rem;
        height: 2.2rem;
        padding: 0 1.8rem 0;

        &.rounded {
            width: 40px;
            height: 40px;
            padding: 8px;
        }
    }
    &.large {
        font-size: 1.1rem;
        height: 3.1rem;
        padding: 0 2rem;

        &.rounded {
            width: 53px;
            height: 52px;
            padding: 0;
        }
    }

    &.rounded {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &.hover {
            background-color: transparent;
        }

        svg {
            circle {
                display: none;
            }
        }
    }

    &:not(.rounded) {
        svg {
            margin-top: 1px;

            & + span {
                margin-right: 9px;
            }
        }
    }
}
