.container {
    display: flex;
    height: 100%;
}

.editor {
    width: 100%;
    transition: $tr width;
}

.conference {
    width: 0;
    transition: $call-panel-transition;

    > * {
        opacity: 0;
        transition: $tr;
    }

    &.visible {
        width: $call-panel-width;
        margin-left: $call-panel-gap;

        > * {
            opacity: 1;
        }
    }
}
