.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 100%;
}

.editor {
    width: 100%;
    transition: $tr width;
}

.conference {
    width: 0;
    transition: $call-panel-transition;

    > * {
        opacity: 0;
        transition: $tr;
    }

    &.visible {
        width: $call-panel-width;
        padding: $call-panel-padding;
        margin-left: $call-panel-gap;

        > * {
            opacity: 1;
        }

        & + .editor {
            width: calc(100% - #{$call-panel-width});
        }
    }
}
