$background: black;

.tooltip {
    position: relative;
    cursor: pointer;
    z-index: 10;

    // &:after ,
    &:before {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;
        position: absolute;
        bottom: 60%;
    }

    &:before {
        content: attr(data-tooltip);
        left: 60%;
        margin-bottom: 5px;
        padding: 4px 6px 6px;
        width: max-content;
        background-color: $background;
        color: #fff;
        text-align: left;
        font-size: 12px;
        line-height: 1.2;
        border-radius: 3px;
        max-width: 150px;
    }

    // &:after {
    //     content: '';
    //     left: 50%;
    //     width: 0;
    //     border-top: 5px solid $background;
    //     border-right: 5px solid transparent;
    //     border-left: 5px solid transparent;
    //     font-size: 0;
    //     line-height: 0;
    //     transform: translateX(-35%);
    // }

    &:hover {
        // &:after,
        &:before {
            visibility: visible;
            opacity: 1;
        }
    }

    &.left {
        &::before {
            left: auto;
            right: 0;
            bottom: 0;
            margin-right: 120%;
        }
    }

    &.bottom {
        // &:after,
        &:before {
            top: 115%;
            bottom: auto;
        }

        // &::after {
        //     transform: translateX(-35%) translateY(-100%) rotate(-180deg);
        // }
    }

    &.error {
        &:before {
            color: red;
        }
    }
}
