.container {
    position: relative;
    margin: $input-margin;
    width: 100%;
    display: flex;
    flex-direction: column;

    textarea {
        width: 100%;
        resize: none;
        @include input;
        @include scrollable;
    }

    &.dark {
        textarea {
            @include dark;
        }
    }
}
