.block {
    cursor: default;
    display: flex;
    flex-direction: column;
    border-radius: $radius;

    &:hover {
        .controls {
            opacity: 1;
        }
    }

    // size
    &.small {
        padding: 14px 17px;
        &.styled {
            font-size: $block-fz / 1.1;
        }

        .header {
            margin-bottom: 7px;
        }
        .footer {
            span,
            small {
                margin-top: 10px;
            }
        }
    }

    &.medium {
        padding: 20px 25px;
    }

    &.large {
        padding: 22px 25px;
        font-size: $block-fz * 1.1;
    }

    // background
    &.none {
        border: 1px solid $black;
    }

    &.light {
        background: white;
    }

    &.dark,
    &.black {
        border-color: $black-darken;
        color: white;
    }
    &.black {
        background: $black-darken;
    }

    &.dark {
        background: $black;
    }

    &.hover {
        border: none;
        transition: background $tr;
        background: rgba($black-lighten, 0.2);
        position: relative;
        cursor: pointer;
        border: $border;

        &:not(:hover) {
            border-color: transparent;
        }
    }

    &.primary {
        background: $block-primary;
        border-color: $block-primary;
    }

    &.success {
        background: $success;
        border-color: $success;
    }

    &.yellow {
        background: $yellow;
        border-color: $yellow;
    }

    &.light,
    &.yellow {
        color: $black;
        a {
            color: $black;
        }
    }

    &.styled {
        font-size: $block-fz;
        font-family: $block-ff;
        line-height: 1.4;
    }

    &.flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
        }

        .footer {
            margin-top: initial;
        }
    }

    &.empty {
        position: relative;
        background: $black;
        @include disabled;

        // &::before {
        //     $s: 10px;

        //     content: '';
        //     position: absolute;
        //     width: calc(100% - #{$s * 2});
        //     height: calc(100% - #{$s * 2});
        //     left: $s;
        //     top: $s;
        //     border: 1px dashed $black-lighten;
        //     border-radius: $radius;
        // }
    }
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 1;
}

.content {
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    position: relative;
    span {
        font-size: 1.4rem;
    }

    .controls {
        top: auto;
        bottom: 0;
    }
}

.controls {
    position: absolute;
    right: 0;
    top: 0px;
    display: flex;
    opacity: 0;
    transition: opacity $tr;

    button + button {
        margin-left: 5px;
    }
}
