.container {
    padding: $padding;
    border-radius: $radius;
    background: $black-darken;

    &.busy,
    &.tooBusy {
        color: black;
    }

    &.busy {
        background: $yellow;
    }

    &.tooBusy {
        color: white;
        background: $orange;
    }
}
